doctype
html
  head
    style
      include css/styles.css
  header
    p#userName= message
    h1#mainH1 Alchemy Networkr
    button#logout Logout
  div(class='home-models')
    button#home(class="fas fa-home") 
    button#allCP Curriculum Projects
    button#allPP Portfolio Projects
  body
    block contents
    script(src="https://kit.fontawesome.com/f865ba8569.js")
    script
      include js/nav.js