doctype
html
  head
    style
      include css/styles.css
  header
    h1 Alchemy Networkr
    p= message
    button#logout logout
    button#findall do the thing
  body
    block contents
    script
      include js/layout.js