doctype
html
  head
    style
      include css/styles.css
  header
    h1 Alchemy Networkr
    p= message
    button#home home
    button#allCP Curriculum Projects
    button#allPP Portfolio Projects
    button#logout logout
  body
    block contents
    script
      include js/nav.js