extends _layout.pug

block contents
  div(class='home-models')
    button#foundations1 Foundations 1
    button#foundations2 Foundations 2
    button#careertrack1 Career Track 1
    button#careertrack2 Career Track 2
  div(class='home-models')
    button#javascript(class="fab fa-js-square")
    button#html(class="fab fa-html5")
    button#css(class="fab fa-css3-alt")
    button#python(class="fab fa-python")
  script 
    include js/home.js
    